/BulkDriver/.*
/BulkDriver/*.ko
/BulkDriver/*.mod
/BulkDriver/*.o
/BulkDriver/*.mod.c
/BulkDriver/modules.order
/BulkDriver/Module.symvers
/BulkDriver_With_URB_Requests/.*
/BulkDriver_With_URB_Requests/*.ko
/BulkDriver_With_URB_Requests/*.mod
/BulkDriver_With_URB_Requests/*.o
/BullkDriver_With_URB_Requests/*.mod.c*
/BulkDriver_With_URB_Requests/modules.order
/BulkDriver_With_URB_Requests/Module.symvers
